*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;    
}

body{
  font-size: 1.6rem;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 6%, rgba(0,212,255,1) 100%);
}

/* NAV */

.navmain{
  width: 100%;
  background-color: red;
}

.father{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content:space-evenly;
  height: 10vh;
  align-items: center;
  padding: 1rem;
}

.nav-desc{
  list-style: none;
}

.nav-desc a{
  text-decoration: none;
}

img{
    width:100%;
    max-width:640px;
}
.container-one{
  display: flex;
  padding: 1.5rem;
  justify-content: space-evenly;
}
