*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;    
}

body{
  font-size: 1.6rem;
}

main{
  max-height: 80vh;
}

/* NAV */

.navmain{
  width: 100%;
  background-color: rgb(49, 47, 54);
}

.father{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content:space-evenly;
  height: 10vh;
  align-items: center;
  padding: 1rem;
  
}

.nav-desc{
  list-style: none;
}

.nav-desc a{
  text-decoration: none;
  color: white;
}

img{
    width:100%;
    max-width:680px;
}
.container-one{
  /* display: flex; */
  padding: 1.5rem;
  justify-content: space-evenly;
  text-align: justify;
}


/* footer */


.footer-list{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  height: 10vh;
  align-content: center;
  background-color: aqua;
}

.list{
  list-style: none;
  padding: 1.5rem;
}

.list a{
  text-decoration: none;
}

footer{
  height: 10vh;
  justify-content: center;
  align-items: flex-end;
}

.art1, .art2, .art3{
  padding: 0.5rem;
}

.art3{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 12rem;
    align-items: center;
}

.art3 p{
  padding: 1rem;
}

.art3container{
  display: flex;
}

@media (min-width:1024px){
  .container-one{
    display: flex;
  }
  footer{
    justify-content: center;
    position: absolute;
    bottom :0;
    left: 0;
    width: 100%;
  }
  figure {
    width: 30%;
    margin: 0 auto;
  }
  .art3{
    position: relative;
    height: 10rem;
    text-align: center;
    padding: 0;
  }
}

@media (min-width:768px){
  figure {
    width: 50%;
    margin: 0 auto;
  }
}