*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;    
}

body{
  font-size: 1.6rem;
  
}

/* NAV */

.navmain{
  width: 100%;
  background-color: red;
}

.father{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content:space-evenly;
  height: 10vh;
  align-items: center;
  padding: 1rem;
}

.nav-desc{
  list-style: none;
}

.nav-desc a{
  text-decoration: none;
}

img{
    width:100%;
    max-width:680px;
}
.container-one{
  /* display: flex; */
  padding: 1.5rem;
  justify-content: space-evenly;
  text-align: center;
}


/* footer */



.footer-list{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  height: 10vh;
  align-content: center;
  background-color: aqua;
}

.container-footer{
  align-items: flex-end;
}

.list{
  list-style: none;
  padding: 1.5rem;
}

.list a{
  text-decoration: none;
}

@media (min-width:800px){
  .container-one{
    display: flex;
    align-items: flex-end;
}